.signup-container {
  padding: 0;
  overflow: hidden;
}

/* LEFT DARK SIDE */
.signup-left {
  background: linear-gradient(135deg, #000000, #1d1d1d);
  color: white;
  flex-direction: column;
  text-align: center;
}

.brand-title {
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.brand-subtitle {
  font-size: 1.2rem;
  opacity: 0.8;
  margin-top: -10px;
}

/* CARD */
.signup-card {
  width: 380px;
  border-radius: 15px;
}

.custom-input {
  border-radius: 10px;
  padding: 11px;
  border: 1px solid #d3d3d3;
}

.custom-input:focus {
  border-color: #000;
  box-shadow: none;
}

.custom-btn {
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 600;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .signup-card {
    width: 92%;
  }
}
